body{
    display:flex;
    justify-content: center;
}

.tarjetaPresentacion{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 600px;
    border-radius: 20px;
    box-shadow: 21px 0px 21px 21px rgba(0,0,0,0.1);
    padding: 30px;
}

.tituloPrincipal{
    color: #023047;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.tituloSecundario{
    color: #023047;
    font-weight: bold; 
    font-size: 20px; 
    margin: 10px;
}

.tituloTercero{
    font-size: 18px;
    color: #219ebc;
    margin: 10px;
}

.imagenPrincipal{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.listaDesordenada{
    text-decoration: none;
    list-style: none;
    color: #4a5759;
    text-align: center;
    font-weight: lighter;
    margin: 0px;
    padding: 0;
}

li{
    padding: 5px;
}

.contenedorListas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.contenedorLista{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

p, h4{
    color: #4a5759;
    text-align: center;
    margin: 10px;
}

a{
    color: #8ecae6;
}

